.List-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  font-size: 15px;
}

.Remove-button,
.Done-button {
  padding: 6px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.Remove-button {
  margin-right: 5px;
}

.Remove-button:hover {
  background-color: darkred;
  color: white;
}

.Done-button:hover {
  background-color: green;
  color: white;
}

.done {
  text-decoration: line-through;
  background-color: green;
}
